<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container" >
      <a class="navbar-brand mb-30 " href="#" style="margin-left: 25px;">Carousel</a>
    
        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountservice.currentuser$| async">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <div class="dropdown" *ngIf="accountservice.currentuser$ | async" dropdown>
          <a  class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome User</a>
          <div class="dropdown-menu" *dropdownMenu="">
            <a class="dropdown-item">Edit profile</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
        <form #loginform="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off" *ngIf="!(accountservice.currentuser$|async)">
          <input  name="userName" [(ngModel)]="model.userName" class="form-control me-2" type="text"placeholder="userName" />
          <input  name="password" [(ngModel)]="model.password" class="form-control me-2" type="text"  placeholder="password" />
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      </div>
  </nav>